body{
    padding: 0px;
    margin: 0px;
    background-color: #f1f3f6;
}
#nv{
    width: 1489px;
    height: 57px;
    background-color: #2874F0;
}
#nv>img{
    width: 57px;
    height: 57px;
    margin-left: 150px;
}
#one{
    width: 850px;
    height: 800px;
    margin-left: 150px;
    margin-top: 20px;
}
#two{
    width: 400px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
}
#main{
    display: flex;
}
.blue{
    background-color: #2874F0;
    width: 850px;
    height: 50px;
    display: flex;
    
}
.blue > div{
    margin-top: 15px;
}
.blue > div > span{
    font-size: 20px;
    font-family: Roboto,Arial,sans-serif;
    color: white;
}
button{
    background-color: #FB641B;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}
input{
    padding: 20px 90px 0px 13px;
}
textarea{
    padding: 25px 395px 0px 13px;
}
select{
    padding: 20px 16px 0px 13px;
}
.im{
    width: 24px;
    height: 24px;
}
.green{
    color: green;
}
#random{
    margin-left: 80px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
    width: 60px;
    padding: 0.5px 10px;
    border-radius: 10px;
    background-color: white;
}
#align{
    display: flex;
    justify-content: space-between;
    width: 650px;
}
#align2{
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-left: 30px;
}
#align2 > div > input{
    margin-left: 100px;
}
#align2 > div > button{
    margin-left: 100px;
}
#align > div > input{
    margin-left: 80px;
}
#align > div > button{
    margin-left: 80px;
}
#two1{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding: 5px;
}
#two2{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#chg{
    width: 400px;
    height: 85px;
}
.login{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 180px;
}
#addr{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 490px;
}
#payment{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#two{
    margin-bottom: 50px;
}
.size{
    display: flex;
}
.size > div{
    padding: 20px;
}
.size > div > img{
    width: 230px;
    padding-bottom: 10px;
}
.size :nth-child(1) > :nth-child(2) > * {
    margin-left: 10px;
}