*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f0f0f0 ;
}
main{
    width: 100vw;
}
.container{
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    gap: 25px;

}
.left{
width: 30%;
height: fit-content

}
.right{
width: 70%;
background-color: #fff;

}

.top{
font-family:sans-serif;
font-size: 1.4rem;
font-weight: 490;
padding: 20px;
}
.card{
    display: flex;
    height: 25vh;
    gap: 5px; 
    padding: 30px 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.card:hover{
    cursor: pointer;
}
 .name:hover{
    color: blue;
}
.img-box{
width: 20%;

}
.img-box img{
height: 100%;
width: 100%;
object-fit: contain;

}
.midbox{
    width: 80%;
    line-height: 2rem;
    padding: 0 30px; 
}
.midbox-name{
    display: flex;
    width: 100%; 
    justify-content: space-between;
}
.r{
    font-size: 0.6rem;
}
.delete-box {
    opacity: 0.5;
}
.rating{
    font-size: 0.7rem;
    background-color:#388e3c; 
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    gap: 4px;
}
.name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',sans-serif;
    font-size: 1.3rem;
    font-weight: 200;
}
.price{
    font-size: 1.4rem;
    font-weight: 800;
}
.lt-img img{
    display: block;
    width: 130%;
    
    
}

.lt-img{
    margin-right: 30px;
}
.left-top{
    background-color: #fff;
    padding: 20px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 25px;
    border-radius: 5px;
}
.left-mid{
    border-radius: 5px;
     padding: 20px 0;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.left-mid>div{
    
    padding: 10px 40px;
   
}
.ind1{
    font-size: 1.4rem;
}
.ind1 i{
    color: blue;
    margin-right: 30px;

}


.ind2{
    padding-top: 10px;
    margin-left: 60px;
    font-size: 1rem;
    font-family:sans-serif;
    line-height: 2.2rem;
    opacity: 0.6;   
}
.ind2>h4:hover{
    color: blue;
    cursor:pointer;
}
#logout:hover{
cursor: pointer;
color: blue;
}
