
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

.container{
    background-color: #fff;
    /* padding: 1rem; */
    max-width:40rem;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1.3fr;
    margin: auto;
}

.left{
    background-color: #2874f0;
    padding:3rem 2rem;
    /* margin-right: 30px; */
    background-image: url(image/Steinfield3.png);
    background-repeat: no-repeat;
    background-position: center 90%;
}

.right{
    padding:3rem 2rem 1.8rem;
}

.heading{
    color:#fff;
    font-weight: 500;
    margin-bottom: 1rem;
}
.head1{
    color:#dbdbdb;
    font-size: 1.2rem;
}

.input-group{
    position: relative;
    margin-bottom: 1rem;
}
.input{
    padding: 0.5rem;
    border:none;
    width:100%;
    border-bottom: 1px solid #878787;
    outline: none;
    font-size: 1.1rem;
}
.label{
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
    color:#878787;
    pointer-events: none;
    transform-origin: left;
    transition: transform 0.2s ease;
}
.input::placeholder{
    visibility: hidden;
}

.input:focus~label,
.input:not(:placeholder-shown)~label{
    transform: translateY(-140%)scale(0.8);
}

.line{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #2874f0;
    transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}
.input:focus ~ .line,
.input:not(:placeholder-shown)~line{
    transform: scaleX(1);
}

a{
    text-decoration: none;
    color: #2874f0;
}

/*  */
.input-group .link{
    position: absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
}

.input-group .link:hover{
    text-decoration: underline;
}

.para{
    font-size: 0.75rem;
    margin-top: 2rem;
    color: #878787;
}

.btn{
    width: 100%;
    margin-top: 1rem;
    border: none;
    background-color: #fb641b;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.4);
    color: #fff;
    font-size: 1.025rem;
    cursor: pointer;
}



/*  */
.para--or{
    text-align: center;
    font-size: 1rem;
    margin: 0.8rem 0;
}

.btn2{
    color: #2874f0;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin-top: 0;
}

.bottom{
    text-align: center;
}
.link--bottom{
    display: inline-block;
    margin-top: 5rem;
}
.bottom2{
    text-align: center;
}


.cross{
    /* position: absolute; */
    position: relative;
    width: 62%;
    transform: translateX(0);
     /* opacity: 0; */
     /* transform: translate(-50%,-50%) scale(1.25);
     transition: top 0ms ease-in-out 200ms,
                 opacity 200ms ease-in-out 0ms,
                 transform 20ms ease-in-out 0ms; */
}
.cros{
    position: absolute;
    right: 100px;
    color:#fff;
    top:10px;
    cursor: pointer;
    /* opacity: 0; */
    transform: translate(-50%,-50%) scale(1.25);
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.cros.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.fa-xmark{
    /* top: 20px;
    left: 400px;
    position: absolute; */
    font-size: 30px;
    display: none;
    z-index: 101;
}