body{
  margin-top: 55px;
}
#topnav{
    /* border: 2px solid green; */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0E74EC;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    margin-bottom: 55px;
}
#topnav>img{
    height: 55px;
    margin-left: 12%;

}
#navelem{      
    /* border: 2px solid rebeccapurple; */
    width: 74%;          
}
#navelem>input{
    width:50%;
    margin-left: 2%;
    /* margin-right: 30px; */
    padding: 0.8% 0% 0.8% 1.5%;
}
#navelem>a{
    margin-left: 4.5%;   
    /* margin-right: %; */
    color: white;
    text-decoration: none;
    font-weight: bold; 
}
 #alogin{
    background-color: white;
    color: #0E74EC;
    font-weight: 550;
    padding: 8% 50% 8% 50%;
    margin-bottom: 10px;
    text-decoration: none;
}
span{
  color: #0E74EC;
}
.morebtn {
    background-color:  #0E74EC;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-left: 4%;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .more {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .more-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .more-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .more-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.more:hover .more-content {display: block;}
